html,
body {
    height: 100%;
    cursor: pointer;
    background-color: darkgreen;
    margin: 0;
}

input {
    width: 50px;
}

#form {
    padding-top: 1em;
    padding-left: 0.5em;
}

#number {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 9em;
    font-family: sans-serif;
}

#clickTarget {
    background-color: lightgreen;
    height: 100%;
}

#goFS {
    float: right;
    margin-right: 1em;
}